 <article> 
    <div class="post-header"> 
        <h2> <a href= "{{post.url}}"> {{post.title | replace:"_"," "}} </a> </h2> 
        <h4> {{post.date | date_to_long_string: "ordinal"}} </h4> 
        <div class="tags"> 
            <h5> Tags: </h5>
            <ul> 
                {% for category in post.categories %}
                    {% for category_name in site.categories %}
                        {% if category == category_name.title %}
                    <li style="background-color:{{category_name.colour}};"> 
                        <a href="{{category_name.url}}"> {{category}} 
                    </li> 
                        {% endif %}
                    {%endfor%}
                {%endfor%} 
            <ul> 
        </div>    
    </div> 
    {{post.excerpt}} 
</article> 