header{ 
    padding-bottom: 20px;
    clear: both; 
    overflow: hidden;
    h1{ 
        float: left; 
    }

    img{
        margin-left:2rem;
        margin-top:21.44px;
        margin-bottom:21.44px; 
        height: 1rem;
    }
}


nav{ 
    float: right;
}