.container { 
    max-width: 38rem; 
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
}

.post-header{ 
    h2{ 
        margin-bottom:0px;
    }
    h4{ 
        margin-top:0px;
        text-align: right;
    }
}
