.container { 
    max-width: 38rem; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height:100vh;
}

ul{
    list-style-type: none;
}

section{ 
    padding-bottom:3.5rem;
    > ul{ 
        margin-bottom:2rem;
    }
}



.tags{
    h5{
        display:inline;
        margin: 0;
    } 
    ul{
        display:inline;
        padding-left:0.5rem;
    }
    
    ul li { 
        display: inherit;
        padding-left:0.5rem;
        padding-right:0.5rem;
        margin-left:0.5rem;
        border: 0.1rem solid black; 
        border-radius: 0.5rem;
    }
} 

.post-header{ 
    h2{ 
        margin-bottom:0px;
    }
    h4{ 
        margin-top:0px;
        margin-bottom:0px;
        text-align: right;
    }
}
