@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Caslon+Display&display=swap');
$header-font: "Libre Caslon Display", serif;
$body-font: "Cormorant Garamond", serif;

h1,h2,h3,h4,h5,h6{
    font-family: $header-font;
    font-weight: normal; 
}

body{ 
    font-family: $body-font;
    font-weight: normal;
}